body {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    letter-spacing: 0.5px;
}

.card {
    border: none;
    background-color: #ffffff;
    border-radius: 1rem;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

img {
    object-fit: contain;
    max-width: 100%;
    border-radius: 10px;
}
